:root {
  --blue: #9BBBF2;
  --blue-gray: #84A3E0;
  --blue-white: #C7D9FD;
  --white: #efefef;
  --white-gray: #e7e6e6;
  --gray: #514D4D;
  --black1: #222;
  --black2: #999999;
  --orange: #f5e506;
}

.background{
    border-radius: 30px !important;
    max-width: 70vh !important;

}

.popup-error{
    border-radius: 30px !important;
    max-width: 70vh !important;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(10px);
    border-style: solid;
    border-color: #E34343;
    border-width: 3px;
    color: #E34343;
}

.popup-success{
    border-radius: 30px !important;
    max-width: 70vh !important;
    background-color: rgba(255, 255, 255, 1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(10px);
    border-style: solid;
    border-color: #6293f4;
    border-width: 3px;
    color: #12ca08;
}

.popup-edit{
  border-radius: 30px !important;
  min-width: 50%;
  width: auto;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(8px);
  border-style: solid;
  border-color: #6293f4;
  border-width: 3px;
  color: var(--white);
}

.btn-confirm{
    min-width: 100px !important;
    border-radius: 25px !important;
    font-size: 14px !important;
    background-color: #6293f4 !important;
}

.btn-cancel{
    min-width: 100px !important;
    border-radius: 25px !important;
    font-size: 14px !important;
    background-color: rgb(184, 31, 31) !important;
}

.title{
    font-size: 22px !important;
    font-weight: bold;
}

.text{
    font-size: 12rem !important;
}

/* Popup Preview */
.background-preview{
    border-radius: 15px !important;
    width: auto !important;
    margin: 2% 25% !important;
}

.title-preview{
    text-align: center !important;
    font-size: 24px !important;
}

.btn-confirm-preview{
    width: auto !important;
    border-radius: 25px !important;
    font-size: 14px !important;
    background-color: #758ABA !important;
}

.btn-comment{
    width: auto !important;
    border-radius: 25px !important;
    font-size: 14px !important;
    color: #0a0a0a !important;
    background-color: #F8C300 !important;
}

.input-text{
    border-radius: 20px !important;
    font-size: 14px !important;
}

/* Button */
.btn:hover{
    background-color: #3a79f8;
    color: #fff;
}

.bg-custom {
    background-color: #9BB8F2 ;
}

.bg-background_putih {
    background-color: #efefef ;
}

.btn-custom{
    background-color: #6293f4 ;
    color: #fff;
}

.btn-custom:focus,
.btn-custom:active {
    background-color: #004085;
    color: white;
    outline: none; 
}

.btn-second{
    background-color: #C7D9FD;
    color: #262323;
    outline: none; 
}

.btn-second:focus,
.btn-second.active {
    background-color: #efefef;
    color: #262323;
    outline: none; 
    transform: translateX(+40%);
}

.btn-back{
  background-color: var(--gray);
  outline: none; 
}

.btn-back.btn i{
  color: var(--white);
}

.btn-back.btn:hover{
  background-color: var(--orange);
}

.btn-back.btn:hover i{
  color: var(--black1);
}
  
.w-20{
    width: 20%;
}




/* =============== Navigation ================ */
.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background: var(--blue);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: 0.5s;
  overflow: hidden;
}
.navigation.active {
  width: 80px;
}

.navigation ul {
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul li {
  position: relative;
  width: 80%;
  list-style: none;
  border-radius: 30px;
  background-color: var(--blue-white);
}

.navigation ul li:hover{  
  width: 80%;
  background-color: var(--white-gray);
}
.navigation ul li.hovered {
  width: 100%;
  background-color: var(--white);
  color: var(--black1);
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: var(--black1);
}
.navigation ul li:hover a,
.navigation ul li.hovered a {
  color: var(--blue);
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  max-width: 80px;
  height: 40px;
  line-height: 75px;
  text-align: center;
}

.navigation ul li:last-child {
  background-color: var(--blue-gray);
}

.navigation ul li:last-child a {
  color: var(--white-gray);
}

.navigation ul li:last-child:hover,
.navigation ul li:last-child.hovered {
  background-color: #bde244;
  width: 80%;
}

.navigation ul li:last-child:hover a{
  color: var(--black1)
}

/* --------- curve outside ---------- */
/* .navigation ul li:hover a::before, */
.navigation ul li:not(:last-child).hovered a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -54px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--white);
  pointer-events: none;
}
/* .navigation ul li:hover a::after, */
.navigation ul li:not(:last-child).hovered a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -54px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--white);
  pointer-events: none;
}



body {
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
}

.ms-300{
  margin-left: 300px;
}

.min-vh-100 {
  min-height: 100vh;
}

.col-3 i {
  min-width: 60px;
  max-width: 80px;
  text-align: center;
}

.scrollbar-left {
  overflow: auto;
  direction: rtl;
}

.scrollbar-left::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-left::-webkit-scrollbar-track {
  background: var(--blue-gray); 
}

.scrollbar-left::-webkit-scrollbar-thumb {
  background: var(--black2);
  border-radius: 10px; 
}


.scrollbar-left > * {
  direction: ltr;
}